.header__menu {
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin-inline: 7vw;
  position: sticky;
  top: 10px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.index-button {
  opacity: 1;
  transition: opacity .3s ease;
  cursor: pointer;
}

.index-button:hover {
  opacity: .6;
  transition: opacity .3s ease;
  cursor: pointer;
}

.header__menu-list-item__buttons {
  display: flex;
  gap: 32px;
  margin-inline-start: 80px;
}

.header__menu-list-item__sign-buttons {
  display: flex;
  gap: 12px;
}

.sign {
  border: 1px solid #fff;
  min-inline-size: 96px;
  min-block-size: 40px;
  font-size: var(--sign-button-font-size);
}

.sign-up {
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border: 1px solid #633FFE 14.89%;
}

@media screen and (min-width: 375px) and (max-width: 440px) {
  .header__menu {
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-block-start: 30px;
    margin-inline: 0;
  }

  .header__menu-list {
    font-size: 16px;
    display: grid;
    gap: 35px;
    justify-items: center;
    justify-content: center;
  }

  .Ilogo {
    scale: 2;
  }

  .header__menu-list-item__buttons {
    margin-inline-start: 0;
    gap: 15px;
  }
  
  .header__menu-list-item__sign-buttons {
    gap: 5px;
  }
}
