@import url('../styles/globals.css');
@import url('../styles/variables.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');
@import url('../styles/create/create-section.css');
@import url('../styles/create/place-section.css');
@import url('../styles/popup/popup.css');
@import url('../styles/popup/popup-not.css');
@import url('../styles/popup/popup_is-animated.css');
@import url('../styles/popup/popup_is-opened.css');

.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}