.card-section {
  padding-block-start: 90px;
  padding-block-end: 80px;
}

.card-section__list {
  block-size: 546px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-section__list-item {
  padding: 32px 24px;
  gap: 32px;
  inline-size: 380px;
  block-size: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1B23;
  border-radius: 25px;
}

.card-section__list-item__main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-section__list-item__image {
  inline-size: 50px;
  block-size: 50px;
}

.card-section__list-item__title {
  font-size: 32px;
  line-height: 130%;
  font-weight: 800;
}

.card-section__list-item__text {
  min-block-size: 72px;
}

.card__box-button {
  background: transparent;
  border: none;
  color: #B982FF;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 6px;
  align-items: center;
}

@media screen and (min-width: 375px) and (max-width: 440px) {
  .card-section {
    padding-block-start: 20px;
    padding-block-end: 0;
  }
  
  .card-section__list {
    block-size: auto;
    gap: 15px;
    flex-direction: column;
  }
  
  .card-section__list-item {
    padding: 20px 16px;
    gap: 25px;
    inline-size: 260px;
    block-size: 260px;
  }
  
  .card-section__list-item__main-box {
    gap: 5px;
  }
  
  .card-section__list-item__image {
    inline-size: 60px;
    block-size: 60px;
  }
  
  .card-section__list-item__title {
    font-size: 27px;
  }
  
  .card-section__list-item__text {
    block-size: 72px;
    overflow: hidden;
    font-size: 16px;
  }
}