.main-section {
  margin-block-start: 170px;
  margin-block-end: 200px;
}

.main-section .sign-up {
  inline-size: 156px;
  block-size: 50px;
}

.main-section__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.main-section__title {
  max-inline-size: 780px;
  line-height: 130%;
  font-size: 85px;
  text-align: center;
  font-weight: 900;
}

.main-section__subtitle {
  max-inline-size: 500px;
}

@media screen and (min-width: 375px) and (max-width: 440px) {
  .main-section {
    margin-block-start: 60px;
    margin-block-end: 60px;
  }
  
  .main-section__content {
    gap: 20px;
  }
  
  .main-section__title {
    font-size: 55px;
    font-weight: 700;
    max-inline-size: 330px;
  }

  .main-section__subtitle {
    max-inline-size: 300px;
  }
}