.coins {
  margin-block-start: 60px;
  padding-block-end: 60px;
  margin-inline: 20px;
  display: grid;
  gap: 30px;
  border-bottom: 1px solid #1A1B23;
}

.coins-market {
  display: flex;
  align-items: center;
  gap: 500px;
}

.coins-market__title {
  font-size: 50px;
  font-weight: 900;
  line-height: 130%;
}

.coin-list {
  margin-block-start: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
}

.memcoin__item {
  display: grid;
  gap: 10px;
  inline-size: 250px;
  background-color: #1A1B23;
  border-radius: 25px;
  padding: 15px;
}

.memcoin__image {
  object-fit: fill;
  inline-size: 50px;
  block-size: 50px;
  border-radius: 50%;
}

.memcoin__text {
  display: grid;
  gap: 2px;
  overflow: hidden;
}

.memcoin__title {
  text-align: left;
  font-size: 20px;
  opacity: .8;
}

.memcoin__ticker {
  text-align: left;
  font-size: 20px;
  color: #fff;
  opacity: .8;
}

.memcoin__description {
  text-align: left;
  font-size: 16px;
  color: #fff;
  opacity: .7;
}

.coin-card__buy-button :hover {
  opacity: .6;
  transition: opacity .3s ease;
}

.coin-card__buy-button {
  color: #FF8282;
  font-size: 22px;
  font-weight: 600;
  padding-block-end: 5px;
  opacity: 1;
  transition: opacity .3s ease;
}